@using MatriksCRM.Models
@model List<Proje>
@{
    ViewBag.Title = "ProjeBolum";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="container" style="padding: 50px">

    <table class="table table-sm table-dark table-striped table-hover table-bordered text-center">
        <thead>
            <tr>
                <th class="col-auto">#</th>
                <th class="col-auto">Firma Adı</th>
                <th class="col-auto">Proje Adı</th>
                <th class="col-auto">Proje Yeri</th>
                <th class="col-auto">Teklif Tarihi</th>
                <th class="col-auto">Teklif İçeriği</th>
                <th class="col-auto">Proje Durumu</th>
                <th class="col-auto"></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr id="proje-@i">
                    <th>@(i + 1)</th>
                    <td id="firmaAdi-@i">@Model[i].FirmaAdi</td>
                    <td id="projeAdi-@i">@Model[i].ProjeAdi</td>
                    <td id="projeYeri-@i">@Model[i].ProjeYeri</td>
                    <td id="teklifTarihi-@i">@Model[i].TeklifTarihi</td>
                    <td id="teklifIcerigi">@Model[i].TeklifIcerigi</td>
                    <td id="projeDurumu">@Model[i].ProjeDurum</td>
                    <td>
                        <div>
                            <a id="@i" href="" data-toggle="modal" onclick="sendProjectInfo(this.id)" data-target="#modifyModal" style="margin-right: 10px;"><i class="fas fa-cogs text-warning"></i></a>
                            <a id="@i" href="" data-toggle="modal" onclick="sendProjectId(this.id)" data-target="#deleteModal"><i class="fas fa-trash-alt text-danger"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bu projeyi silmek istediğinizden emin misiniz ?
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm())
                {
                    @Html.ActionLink("Sil", null, null, new { id = "deleteProject", @class = "btn btn-danger", role = "button", value = "Sil" })
                }
            </div>
        </div>
    </div>
</div>

<!-- Modal Modify -->
<div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Proje Bilgilerini Değiştir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="modal-firmaAdi">Firma Adı:</label>
                    <input id="modal-firmaAdi" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="projeAdi">Proje Adı:</label>
                    <input id="modal-projeAdi" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="projeYeri">Proje Yeri:</label>
                    <input id="modal-projeYeri" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="teklifTarihi">Teklif Tarihi:</label>
                    <input id="modal-teklifIcerigi" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="teklifIcerigi">Teklif İçeriği:</label>
                    <input id="modal-teklifIcerigi" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Projenin Durumu:</label>

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownDurum" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Proje Durumu<span class="caret"></span>
                        </button>
                        <div id="dropdownDurum-menu" class="dropdown-menu" aria-labelledby="dropdownDurum">
                            <a class="dropdown-item" href="#">Teklif Asamasinda</a>
                            <a class="dropdown-item" href="#">Teklif Degerlendirme Sürecinde</a>
                            <a class="dropdown-item" href="#">Teklif Sozlesme Asamasinda</a>
                            <a class="dropdown-item" href="#">Proje Alindi</a>
                            <a class="dropdown-item" href="#">Proje Iptal Oldu</a>
                            <a class="dropdown-item" href="#">Teklif Kabul Edilmedi</a>
                            <a class="dropdown-item" href="#">Proje Ertelendi</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modifyProject" type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<script>

    modifyProjectId = 0
    var projects = @Html.Raw(Json.Encode(Model));

    function sendProjectInfo(id) {

        modifyProjectId = id;

        document.getElementById("modal-firmaAdi").value = projects[id].FirmaAdi;
        document.getElementById("modal-projeAdi").value = projects[id].ProjeAdi;
        document.getElementById("modal-projeYeri").value = projects[id].ProjeYeri;
        document.getElementById("modal-teklifTarihi").value = projects[id].TeklifTarihi
        document.getElementById("modal-teklifIcerigi").value = null;

        document.getElementById("dropdownDurum").html(projects[id].ProjeDurum);
    };

    $("#modifyProject").click(function () {

        var proje = {
            ProjeID: projects[modifyProjectId].ProjeID,
            FirmaAdi: document.getElementById("modal-firmaAdi").value,
            ProjeAdi: document.getElementById("modal-projeAdi").value,
            ProjeYeri: document.getElementById("modal-projeYeri").value,
            TeklifTarihi: $document.getElementById("modal-teklifTarihi").value,
            TeklifIcerigi: null,
            ProjeDurum: document.getElementById('dropdownDurum').innerHTML,
            Bolum : "Satis"
        };

        projeModified = JSON.stringify({ 'proje': proje });

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '/Home/ModifyProject',
            data: projeModified,

        }).done(function (obj) {

        });
    })

    function sendProjectId(id) {
        document.getElementById("deleteProject").setAttribute("href", "/Home/DeleteProject?id=" + id);
    }

    $("#dropdownDurum-menu a").click(function () {
        $('#dropdownDurum').html($(this).text());
    });

</script>
