@using MatriksCRM.Models
@model List<Proje>
@{
    ViewBag.Title = "ProjeBolum";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container" style="padding: 50px">
    <div class="text-right" style="margin-bottom: 5px;">
        <button id="createProject" type="button" data-toggle="modal" data-target="#createModal" class="btn btn-dark" style="border-radius: 0">Proje Ekle</button>
    </div>
    <table class="table table-sm table-dark table-striped table-hover table-bordered text-center">
        <thead>
            <tr>
                <th class="col-auto">#</th>
                <th class="col-auto">Firma Adı</th>
                <th class="col-auto">Proje Adı</th>
                <th class="col-auto">Proje Yeri</th>
                <th class="col-auto">Teklif Tarihi</th>
                <th class="col-auto">Teklif İçeriği</th>
                <th class="col-auto">Proje Durumu</th>
                <th class="col-auto"></th>
            </tr>
        </thead>
        <tbody id="tableBody">
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr id="proje-@Model[i].ProjeID">
                    <th class="rowNumber">@(i + 1)</th>
                    <td id="firmaAdi-@i">@Model[i].FirmaAdi</td>
                    <td id="projeAdi-@i">@Model[i].ProjeAdi</td>
                    <td id="projeYeri-@i">@Model[i].ProjeYeri</td>
                    <td id="teklifTarihi-@i">@Model[i].TeklifTarihi</td>
                    <td id="teklifIcerigi-@i"><a href="/Home/TeklifIcerigiIndir?projeId=@Model[i].ProjeID" class="btn btn-dark">@Model[i].TeklifIcerigi</a></td>
                    <td id="projeDurumu">@Model[i].ProjeDurum</td>
                    <td>
                        <div>
                            <a id="@i" href="" data-toggle="modal" onclick="sendProjectInfo(@Model[i].ProjeID)" data-target="#modifyModal" style="margin-right: 10px;"><i class="fas fa-cogs text-warning"></i></a>
                            <a id="@i" href="" data-toggle="modal" onclick="sendProjectId(@Model[i].ProjeID)" data-target="#deleteModal"><i class="fas fa-trash-alt text-danger"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bu projeyi silmek istediğinizden emin misiniz ?
            </div>
            <div class="modal-footer">
                <button id="deleteProject" type="button" class="btn btn-danger">Sil</button>
            </div>
            <div id="projeSilindi" class="alert alert-success" style="display:none;">İşleminiz başarıyla gerçekleştirilmiştir.</div>
        </div>
    </div>
</div>

<!-- Modal Modify -->
<div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Proje Bilgilerini Değiştir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="modifyForm" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="modal-firmaAdi">Firma Adı:</label>
                        <input id="modal-firmaAdi" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="projeAdi">Proje Adı:</label>
                        <input id="modal-projeAdi" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="projeYeri">Proje Yeri:</label>
                        <input id="modal-projeYeri" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="teklifTarihi">Teklif Tarihi:</label>
                        <input id="modal-teklifTarihi" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="teklifIcerigi">Teklif İçeriği:</label>
                        <input id="modal-teklifIcerigi" type="file" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Projenin Durumu:</label>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownDurum" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Proje Durumu<span class="caret"></span>
                            </button>
                            <div id="dropdownDurum-menu" class="dropdown-menu" aria-labelledby="dropdownDurum">
                                <a class="dropdown-item" href="#">Teklif Asamasinda</a>
                                <a class="dropdown-item" href="#">Teklif Degerlendirme Sürecinde</a>
                                <a class="dropdown-item" href="#">Teklif Sozlesme Asamasinda</a>
                                <a class="dropdown-item" href="#">Proje Alindi</a>
                                <a class="dropdown-item" href="#">Proje Iptal Oldu</a>
                                <a class="dropdown-item" href="#">Teklif Kabul Edilmedi</a>
                                <a class="dropdown-item" href="#">Proje Ertelendi</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="modifyProject" type="button" class="btn btn-primary">Kaydet</button>
                </div>
                <div id="projeDegistirildi" class="alert alert-success" style="display:none;">İşleminiz başarıyla gerçekleştirilmiştir.</div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Create-->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Yeni Proje Oluştur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="createForm" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="modal-firmaAdi">Firma Adı:</label>
                        <input id="create-firmaAdi" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="projeAdi">Proje Adı:</label>
                        <input id="create-projeAdi" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="projeYeri">Proje Yeri:</label>
                        <input id="create-projeYeri" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="teklifTarihi">Teklif Tarihi:</label>
                        <input id="create-teklifTarihi" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="teklifIcerigi">Teklif İçeriği:</label>
                        <input id="create-teklifIcerigi" type="file" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Projenin Durumu:</label>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="createDropdownDurum" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Proje Durumu<span class="caret"></span>
                            </button>
                            <div id="dropdownDurum-create" class="dropdown-menu" aria-labelledby="createDropdownDurum">
                                <a class="dropdown-item" href="#">Teklif Asamasinda</a>
                                <a class="dropdown-item" href="#">Teklif Degerlendirme Sürecinde</a>
                                <a class="dropdown-item" href="#">Teklif Sozlesme Asamasinda</a>
                                <a class="dropdown-item" href="#">Proje Alindi</a>
                                <a class="dropdown-item" href="#">Proje Iptal Oldu</a>
                                <a class="dropdown-item" href="#">Teklif Kabul Edilmedi</a>
                                <a class="dropdown-item" href="#">Proje Ertelendi</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="modal-createProject" type="button" class="btn btn-primary">Oluştur</button>
                </div>
            </form>
            <div id="projeEklendi" class="alert alert-success" style="display:none;">İşleminiz başarıyla gerçekleştirilmiştir.</div>
        </div>
    </div>
</div>

<script>

    modifyProjectId = 0
    deleteProjectId = 0;
    count = @Model.Count;

    function sendProjectInfo(id) {

        modifyProjectId = id;

        document.getElementById("modal-firmaAdi").value = document.getElementById('proje-' + id).getElementsByTagName('td')[0].innerHTML;
        document.getElementById("modal-projeAdi").value = document.getElementById('proje-' + id).getElementsByTagName('td')[1].innerHTML;
        document.getElementById("modal-projeYeri").value = document.getElementById('proje-' + id).getElementsByTagName('td')[2].innerHTML;
        document.getElementById("modal-teklifTarihi").value = document.getElementById('proje-' + id).getElementsByTagName('td')[3].innerHTML;
        document.getElementById("modal-teklifIcerigi").value = null;

        $("#dropdownDurum").html(document.getElementById('proje-' + id).getElementsByTagName('td')[5].innerHTML);
    };

    $('#modal-createProject').click(function () {
        var formData = new FormData();
        var files = $("#create-teklifIcerigi").get(0).files;

        formData.append("FirmaAdi", $("#create-firmaAdi").val());
        formData.append("ProjeAdi", $("#create-projeAdi").val());
        formData.append("ProjeYeri", $("#create-projeYeri").val());
        formData.append("TeklifTarihi", $("#create-teklifTarihi").val());
        formData.append("ProjeDurum", document.getElementById('createDropdownDurum').innerHTML);
        formData.append("Bolum", "@ViewBag.Bolum");
        formData.append("TeklifIcerigi", files[0].name);
        formData.append("file", files[0]);

        $.ajax({
            url: '/Home/CreateProject',
            type: 'POST',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            success: function (id) {
                var newProject = "<tr id=proje-" + id + " style='display: none'>" +
                    "<th class=rowNumber>" + (count + 1) + "</th>" +
                    "<td id=firmaAdi-" + count + ">" + formData.get("FirmaAdi") + "</td>" +
                    "<td id=projeAdi-" + count + ">" + formData.get("ProjeAdi") + "</td>" +
                    "<td id=projeYeri-" + count + ">" + formData.get("ProjeYeri") + "</td>" +
                    "<td id=teklifTarihi-" + count + ">" + formData.get("TeklifTarihi") + "</td>" +
                    "<td id=teklifIcerigi-" + count + "><a href=/Home/TeklifIcerigiIndir?projeId=" + id + " class='btn btn-dark'>" + formData.get("TeklifIcerigi") + "</a></td>" +
                    "<td id=projeDurumu-" + count + ">" + formData.get("ProjeDurum") + "</td>" +
                    "<td>" +
                    "<div>" +
                    "<a id='" + count + "'href= '' data-toggle='modal' onclick=sendProjectInfo(" + id + ") data-target='#modifyModal' style='margin-right: 10px;'><i class='fas fa-cogs text-warning'></i ></a>" +
                    "<a id='" + count + "' href='' data-toggle='modal' onclick='sendProjectId(" + id + ")' data-target='#deleteModal'><i class='fas fa-trash-alt text-danger'></i></a>" +
                    "</div>" +
                    "</td>" +
                    "</tr>";
                $("#tableBody").append(newProject);

                projeId = "#proje-" + id;

                $('#projeEklendi').show(500, function () {
                    $('#createModal').modal('toggle');
                    $(this).hide();
                    $('#createModal').on('hidden.bs.modal', function () {
                        $(projeId).show(300);
                    });
                });

                count = count + 1;
            },
        });
    });

    $("#modifyProject").click(function () {

        var formData = new FormData();
        var files = $("#modal-teklifIcerigi").get(0).files;

        formData.append("ProjeID", modifyProjectId);
        formData.append("FirmaAdi", $("#modal-firmaAdi").val());
        formData.append("ProjeAdi", $("#modal-projeAdi").val());
        formData.append("ProjeYeri", $("#modal-projeYeri").val());
        formData.append("TeklifTarihi", $("#modal-teklifTarihi").val());
        formData.append("ProjeDurum", document.getElementById('dropdownDurum').innerHTML);
        formData.append("Bolum", "@ViewBag.Bolum");
        formData.append("file", files[0]);
        if (files.length === 0) {
            formData.append("TeklifIcerigi", null);
        }
        else {
            formData.append("TeklifIcerigi", files[0].name);
        }

        $.ajax({
            url: '/Home/ModifyProject',
            type: 'POST',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            success: function (data) {
                $('#projeDegistirildi').show(500, function () {
                    $('#modifyModal').modal('toggle');
                    $(this).hide();
                    $('#modifyModal').on('hidden.bs.modal', function () {
                        $("#proje-" + modifyProjectId).fadeOut(300, function () {
                            modifiedProject = document.getElementById('proje-' + modifyProjectId);

                            modifiedProject.getElementsByTagName('td')[0].innerHTML = formData.get("FirmaAdi");
                            modifiedProject.getElementsByTagName('td')[1].innerHTML = formData.get("ProjeAdi");
                            modifiedProject.getElementsByTagName('td')[2].innerHTML = formData.get("ProjeYeri");
                            modifiedProject.getElementsByTagName('td')[3].innerHTML = formData.get("TeklifTarihi");
                            if (files.length !== 0) {
                                modifiedProject.getElementsByTagName('td')[4].innerHTML = formData.get("TeklifIcerigi");
                            }

                            modifiedProject.getElementsByTagName('td')[5].innerHTML = formData.get("ProjeDurum");
                            $("#proje-" + modifyProjectId).fadeIn(300);
                        });
                    });
                });
            },
        });
    });

    $("#deleteProject").click(function () {
        projeDeleted = JSON.stringify({ 'id': deleteProjectId });
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '/Home/DeleteProject',
            data: projeDeleted

        }).done(function (obj) {
            var i = 0;
            var projeId = "proje-" + deleteProjectId;
            $('#projeSilindi').show(500, function () {
                $('#deleteModal').modal('toggle');
                $(this).hide();
                $('#deleteModal').on('hidden.bs.modal', function () {
                    $("#" + projeId).hide(300, function () {
                        document.getElementById(projeId).outerHTML = "";
                    });
                });
            });
            count = count - 1;
        });
    });

    function sendProjectId(id) {
        deleteProjectId = id;
    }

    $("#dropdownDurum-menu a").click(function () {
        $('#dropdownDurum').html($(this).text());
    });

    $("#dropdownDurum-create a").click(function () {
        $('#createDropdownDurum').html($(this).text());
    });

</script>
